# Archivos de sistema y logs
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/

# IDEs (Visual Studio Code, Android Studio, IntelliJ)
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
lib/generated_plugin_registrant.dart

# Artefactos de ofuscación y símbolos
app.*.symbols
app.*.map.json

# Archivos específicos de Android y seguridad
**/android/app/src/main/cpp/libs/
**/android/app/src/main/cpp/obj/
**/android/key.properties
**/*.keystore
**/*.jks
**/android/.gradle/
**/android/local.properties

# Archivos específicos de iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Excepciones de iOS
!**/ios/**/default.pbxuser
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.perspectivev3
!/ios/Runner/ApsEnvironmentEntitlement-Release.entitlements

# Docker y Entorno
.env
.env.*
!.env.example

# Código fuente de la aplicación (Inyectado por el pipeline)
codigo_flutter/
